.Frontend .UI.ReadMore {
    a {
        display: inline-flex;

        .text {
            margin: 0;
            opacity: 0;
            max-width: 0;
            white-space: nowrap;
            transition: var(--transition);
        }

        i {
            margin: 0;
        }

        &:hover {
            .text {
                opacity: 1;
                max-width: 300px;
                margin-right: 7px;
            }
        }
    }
}