.UI.TrainingBlock {
    position: relative;
    
    .bg-img {
        position: relative;
        text-decoration: none;
        box-shadow: var(--box-shadow);
        border-radius: var(--border-radius);

        .logo {
            top: 0;
            left: 0;
            opacity: 0;
            width: 100%;
            height: 100%;
            display: flex;
            position: absolute;
            align-items: center;
            justify-content: center;
            transition: var(--transition);
            background-color: var(--color-secondary-70);
        }

        &:hover .logo {
            opacity: 1;
        }
    }

    .text {
        padding: 20px;
        text-align: center;

        .title {
            font-size: 20px;
            font-weight: 700;
            margin-bottom: 5px;
            padding-bottom: 5px;
            display: inline-block;
            text-decoration: none;
            color: var(--color-title);
            transition: var(--transition);
            border-bottom: .5px solid var(--border-50);

            &:hover {
                color: var(--color-primary);
            }
        }
    }
}