.UI.Logo img {
    height: 27px;
    object-fit: contain;

    &.big {
        height: 42px;
    }

    &.sm {
        height: 15px;
    }

    &.named {
        height: 36px;
    }
}

@media (min-width: 1280px) {
    .UI.Logo img {
        height: 45px;

        &.big {
            height: 70px;
        }

        &.sm {
            height: 25px;
        }

        &.named {
            height: 60px;
        }
    }
}