.UI.ProjectBlock {
    top: 0;
    height: 100%;
    position: relative;
    box-shadow: var(--box-shadow);
    transition: var(--transition);
    background-color: var(--color-input);
    border-radius: var(--border-radius);

    .links {
        top: 32px;
        right: 28px;
        position: absolute;

        a {
            color: inherit;
            font-size: 20px;
            padding: 5px 7px;
            text-decoration: none;
            transition: var(--transition);

            &:hover {
                color: var(--yellow);
            }
        }
    }

    .inner {
        height: 100%;
        display: flex;
        color: inherit;
        padding: 32px 28px;
        text-decoration: none;
        flex-direction: column;

        .header {
            display: flex;
            line-height: 1;
            align-items: center;
            margin-bottom: 35px;
            justify-content: space-between;

            .icon {
                font-size: 40px;
                color: var(--yellow);
            }
        }

        .title {
            color: inherit;
            font-size: 22px;
            line-height: 1.2;
            margin-bottom: 10px;
            transition: var(--transition);
        }

        .description {
            flex-grow: 1;
            margin-bottom: 20px;
        }

        .technologies {
            color: var(--white-70);
            font-family: var(--font-family-super);

            span:not(:last-child) {
                margin-right: 14px;
            }
        }

        &:hover .title {
            color: var(--yellow);
        }

    }

    &:hover {
        top: -10px;
    }
}