.Backend.Manager .Dashboard .Card {
    margin-bottom: 4px;
    border-radius: 20px;
    padding: 15px 30px 31px 24px;
    box-shadow: var(--box-shadow);
    background-color: var(--color-input);
}

.Backend.Manager .Dashboard .Card .title {
    font-size: 15px;
    font-weight: 500;
}

.Backend.Manager .Dashboard .Card .line {
    height: 4px;
    width: 15px;
    border-radius: 1.8px;
    margin-top: 13px;
    margin-bottom: 8px;
}